@import "../mixins/container/container.styl"

.textarea
  {container}
  {container__column}
  textarea
    width 100%
    max-width 100%
    resize none
    outline none
    overflow hidden
    font-size 1rem
    line-height 1rem
    margin 0
    padding 0
    background none
    border none
