.block
  padding_top_bottom = 2.4rem
  padding_left_right = 2.7rem
  align-self start
  background #e8cd98
  background-image url(res/img/PatternOverlay.png)
  background-repeat repeat
  padding padding_top_bottom padding_left_right
  width 50rem - (2 * padding_left_right)
  &__row
    padding 2rem 2.7rem 1rem 2.5rem
    &:first-child
      padding 0
