.input
  input
    font-family Courier
    color #231f20
    font-size 1.325rem
    line-height 2rem
    letter-spacing 0.1rem
    background none
    border none
    outline none
    margin 0 0.5rem
  span
    margin-left 1rem
    border none
    border-bottom 3px solid
    border-image url(res/img/Line.png) 0 0 10 0 round
  label
    align-self flex-end
    font-family PT_big
    color #2f1b15
    font-weight 700
    font-size 0.955rem
    line-height 1rem
    letter-spacing 0.01rem
