.labelbox
  width auto
  font-size 1rem
  padding .41rem
  p
    font-family PT_small
    font-size 0.64rem
    line-height 1.2rem
    color #3d3d3d
  h1,h2,h3,h4,h5
    font-family PT_big
    color #2f1b15
    margin-bottom 0.5rem
