.checkbox
  padding 1rem 0.5rem
  article
    column-count 2
    span
      width 100%
      label
        font-family PT_big
        color #2f1b15
        font-weight 700
        font-size 0.955rem
        line-height 1rem
        letter-spacing 0.01rem
        margin-left .5rem
