.checkbox
  padding 0.815rem 0 0
  height 7*1.75rem
  @media screen and (max-width: 768px)
    height 7*2.5rem
  @media screen and (max-width: 600px)
    height auto
  flex-direction column
  justify-content start
  &__item
    width 33%
    @media screen and (max-width: 768px)
      width 50%
    @media screen and (max-width: 600px)
      width 100%
    flex-direction row
    align-items center
    margin-bottom 0.1rem
    @media screen and (max-width: 600px)
      margin-bottom 0.5rem
    input
      display none
      & + label::before
        content ''
        display flex
        position relative
        bottom 0.3rem
        width 28px
        height 33px
        margin-right 0.15rem
        background url('res/img/CheckBox&RadioButton.png') left center no-repeat
      &:checked + label::before
        background url('res/img/CheckBox&RadioButton.png') -28px center no-repeat
    label
      display flex
      font-family PT_big
      color #2f1b15
      font-weight 700
      font-size 0.955rem
      line-height 1.4rem
      &::before
        &:last-child
          margin-right 1rem
    label[for='checkbox__item_16']
      &::after
        content 'ок'
        display flex
        margin-left 0.25rem
        margin-top 0.05rem
