.calendar
  align-items start
  justify-content start
  .labelbox
    h1
      line-height 3rem
  .input
    width 10rem
    margin-left .5rem
    @media screen and (max-width: 600px)
      margin-left 0
