.textarea
  textarea
    textarea_fontsize = 1.5rem
    height textarea_fontsize + 1 + 0.1875//3px = 0.1875rem
    font-family Courier
    font-size textarea_fontsize
    line-height textarea_fontsize * 2
    background  url(res/img/Line.png) 0 2.5rem repeat-x
