@import "../mixins/container/container.styl"

.radiobutton
  {container}
  @media screen and (max-width: 768px)
    {container__column}
  &__item
    {container}
    label
      width 100%
      line-height 1rem
