@import "../../library.blocks/mixins/container/container.styl"

.slider
  {container}
  {container__column}
  &__box
    {container}
    justify-content start
    position relative
    left 0
  &__flag
    position relative
    width 16px
    height 14px
    left 0
    background-image url(res/img/Flag.png)
    background-color none
    outline 1px red solid
    border none
  &__value-line
    width 100%
  &__value-label
    width 100%
