doctype html
html(lang = "en")
  head
    meta(charset = 'utf-8')
    title About Me - Vigovsky Edward
    link(href='style.css', rel='stylesheet')
    script(src='scrypt.js', defer, type='text/javascript')
    body.page
      .block
        .block__column
          .block__row
            .header
              .header__row
                .logo_secretly
                  img(src='res/img/Secretly.png', atl='Secretly')
              .header__row
                .logo_case
                  img(src='res/img/Case.png', alt='Case')
          .block__row
            .personal-date
              each text, label in {'Полное ФИО':'Виговский Эдуард', 'Год рождения':"1995", 'Место жительства':'о. Русский, Кампус ДВФУ', 'Скайп':'-', 'Почта':'wardofhell@ya.ru'}
                .personal-date__row
                  .input
                    label= label
                    span
                      input(type='text', value= text)
          .block__row
            .checkbox-about
              .checkbox-about__row
                .labelbox
                  h1 Расскажите о себе чекбоксами
                  p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает что вы будете получать те задачи, с которыми гарантировано будете справляться
              .checkbox-about__row
                .checkbox
                  - var i = 0
                  - var id = ''
                  each value, label in {'БЭМ/OOCSS':1, 'Pug (Jade)':1, 'Stylus/LESS/SASS':1, 'Работаю с SVG':1, 'Верстаю семантично':1, 'Accessibility (A11Y)':0, 'ES2015/ES2016':1, 'GULP/GRUNT':1, 'Webpack':0, 'Дружу с WebGL':1, 'jQuery':1, 'Знаю/изучаю Angular':0, 'Знаю/изучаю React':0, 'Знаю/изучаю Node.js':0, 'Использую Git':1, 'С глазомером всё':1, 'Я ленивый(-ая)':1, 'У меня хороший английский':1}
                    - i++
                    - id = 'checkbox__item_' + i
                    .checkbox__item
                      if value == 1
                        input(id= id type="checkbox" checked)
                      else
                        input(id= id type="checkbox")
                      label(for= id)= label  
          .block__row
            .js-lvl
              .js-lvl__row
                .labelbox
                  h1 Уровень владения JavaScript
              .js-lvl__row
                .slider#slider
                  - var slider__array_label = ['Не владею', 'Использую готовые решения', 'Использую готовые решения и умею их переделывать', 'Пишу сложный JS с нуля']
                  .slider__box
                    .slider__flag
                  .slider__value-line
                  .slider__value-label-box#slider__value
                    each label in slider__array_label
                      .slider__value-label-item= label
          .block__row
            .words-about
              .words-about__row
                .labelbox
                  h1 Расскажите о себе словами
                  p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
                  .textarea#textarea
                    textarea Данная вакансия привлекла меня в превую очередь тем, что это возможность прокачать опыт и знания в области front-end development. Ожидаю, что меня будут окружать люди, опыт коих я могу перенять для ускорения обучения. Уж учень хочется участвовать в крутых проектах в рядах крутой команды!
          .block__row
            .future-plans
              .future-plans__row
                .labelbox
                  h1 Какие у вас планы на будущее?
                  p Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
          .block__row
            .form-date
              .form-date__row
                .labelbox
                  h1 Дата заполнения
              .form-date__row
