doctype html
html(lang = "en")
  head
    meta(charset = 'utf-8')
    title About Me - Vigovsky Edward
    link(href='style.css', rel='stylesheet')
    script(src='script.js', type='text/javascript')
    
    body.page
      .block
        .block__column
          .block__row
            .header
              .header__row
                .logo_secretly
                  img(src='res/img/Secretly.png', atl='Secretly')
              .header__row
                .logo_case
                  img(src='res/img/Case.png', alt='Case')
          .block__row.personal-data
          .block__row.checkbox-about
          .block__row.js-lvl
          .block__row.words-about
          .block__row.future-plans
          .block__row.form-date
