@font-face
  font-family PT_small
  font-weight 400
  src url(res/font/PT_Sans/PT_Sans-Caption-Web-Regular_UP_y128_y67.ttf)

@font-face
  font-family PT_big
  font-weight 400
  src url(res/font/PT_Sans/PT_Sans-Caption-Web-Regular_UP_y108_y27.ttf)

@font-face
  font-family Courier
  font-weight 100
  src url(res/font/Courier/Courier_New.ttf)

@import "library.blocks/reset.styl"

@import "library.blocks/html/html.styl"
@import "common.blocks/html/html.styl"

@import "library.blocks/page/page.styl"
@import "common.blocks/page/page.styl"

@import "library.blocks/block/block.styl"
@import "common.blocks/block/block.styl"

@import "common.blocks/header/header.styl"

@import "common.blocks/logo_secretly/logo_secretly.styl"

@import "common.blocks/logo_case/logo_case.styl"

@import "common.blocks/personal-date/personal-date.styl"

@import "library.blocks/labelbox/labelbox.styl"
@import "common.blocks/labelbox/labelbox.styl"

@import "library.blocks/input/input.styl"
@import "common.blocks/input/input.styl"

@import "library.blocks/checkbox/checkbox.styl"
@import "common.blocks/checkbox/checkbox.styl"

@import "common.blocks/checkbox-about/checkbox-about.styl"

@import "common.blocks/js-lvl/js-lvl.styl"

@import "common.blocks/slider/slider.styl"
