@import "../mixins/container/container.styl"

.input
  {container}
  //{container__column}
  label
    white-space nowrap
    font-size 1rem
    line-height @font-size
  span
    {container}
  input
    width 100%
    font-size 1rem
    line-height @font-size
